body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}
div#admin_nav
{
margin: 20px auto;
text-align: center;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}
video
{
width: 600px;
height: 350px;
autoplay: autoplay;
}

form {
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
td form
{
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="submit"] {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    color: #fff;
    background-color: #007baa;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 38px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #007baa;
    border-radius: 3px;
    cursor: pointer;
}

a:hover {
    background-color: #0056b3;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.add-car-link {
    display: block;
    text-align: right;
    margin: 20px;
    color: #fff;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
}

.add-car-link:hover {
    background-color: #218838;
}

.back-home-link {
    display: block;
    text-align: left;
    margin: 20px;
    color: #fff;
    background-color: #17a2b8;
    padding: 10px;
    border-radius: 5px;
}

.back-home-link:hover {
    background-color: #138496;
}
.jumbotron
{
background: #f8f9fa;
padding: 0rem 0rem;
margin-bottom: 1rem;
margin-top: 0px;
}
table, th, td
{
border: 1px solid;
}
footer
{
background: #f8f9fa;
padding: 1rem 0;
position: static;
margin-bottom: 0;
}
.flashes {
            list-style-type: none;
            padding: 0;
        }
.flashes li {
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
        }
