body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
div.car_info
{
border: 1px solid #ccc;
padding: 2px;
padding-bottom: 0px;
margin-bottom: 20px;
margin: auto 310px;
width: 920px;
height: 180px;
background-color: #fff;
}
div.car_info h2
{
margin: 0px;
padding: 0px;
background-color: #EB984E;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5em;
    text-align: left;
}
a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 15px;
    background: #000011;
}

a:hover {
    text-decoration: underline;
}