<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome, {{ user.username }}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('customer_home') }}">Home</a></li>
                <li><a href="{{ url_for('car_search') }}">Search Cars</a></li>
                <li><a href="{{ url_for('profile') }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Available Cars</h2>
        <div class="container">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Category</th>
                <th>Year</th>
                <th>Price per Day</th>
                <th>Car Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.category }}</td>
                <td>{{ car.year }}</td>
                <td>${{ car.price_per_day }}</td>
                <td>{{ car.status }}</td>
                <td>
                    <a href="{{ url_for('car_book', car_id=car.id) }}" class="btn btn-info">Book Now</a>
                    <a href="{{ url_for('car_rent', car_id=car.id) }}" class="btn btn-info">Rent Now</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        <br>
        <a href="{{url_for('index') }}" class="back-home-link">Back to Home</a>
    </main>
</body>
</html>