<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rental History</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/book_rent.css') }}">-->
</head>
<body>
<div class="container">
    <h2 class="text-center my-4">Rental History</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Car</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Cost</th>
                    <th>Date Created</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rental in rentals %}
                <tr>
                    <td>{{ rental.user.username }}</td>
                    <td>{{ rental.car.make }} {{ rental.car.model }}</td>
                    <td>{{ rental.start_date }}</td>
                    <td>{{ rental.end_date }}</td>
                    <td>{{ rental.total_cost }}</td>
                    <td>{{ rental.date_created }}</td>
                    <td>{{ 'Paid' if rental.payment_status else 'Unpaid' }}</td>
                    <td>
                        <form action="{{ url_for('update_payment_status', rental_id=rental.id) }}" method="post" class="form-inline">
                            <div class="form-group">
                                <select name="payment_status" class="form-control form-control-sm mr-2">
                                    <option value="Paid" {% if rental.payment_status %}selected{% endif %}>Paid</option>
                                    <option value="Unpaid" {% if not rental.payment_status %}selected{% endif %}>Unpaid</option>
                                </select>
                                <button type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>